/vendor
/storage/*.key
/node_modules
Homestead.yaml
Homestead.json
.env
.idea
_ide_helper.php
storage/clockwork
storage/debugbar
npm-debug.log
auth.json

public/css
public/fonts
public/js
public/images
public/documents
public/mix-manifest.json
laradock
credentials.yml
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
