.about-hero{

    text-align: center;

    .title{

        font-size: 1.6rem;
        margin-bottom: .5rem;

        span{

            font-weight: inherit;
        }

        br{

            display: none;
        }

        & + .subtitle{

            font-size: 1.2rem;
            margin-top: 0;
        }
    }

    p{

        color: $lightGrey;
    }

    .doctor-students-img{

        max-width: 400px;
        margin: 0 auto;
    }
}

@media only screen and ( min-width: $tablet ){

    .about-hero{

        text-align: left;

        .content-column{

            display: flex;
            justify-content: center;
            flex-direction: column;
        }

        .content{

            max-width: 600px;
        }

        .title{

            font-size: 1.8rem;
        }

        .subtitle{

            font-size: 1.6rem;
        }

        p{

        }

        .image-column{

            justify-content: center;
            align-items: center;
            flex-direction: column;
            display: flex;
        }

        .doctor-students-img{

            max-width: 100%;
            margin: 0;
        }
    }
}