.hero{

    .hero-body{

        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .title{

        font-size: 2rem;
        margin-bottom: 1rem;
        font-weight: bold;
    }

    .subtitle{

        margin-top: 0;
    }

    p{

        margin-bottom: 1rem;
        line-height: 1.4;
    }
}

@media only screen and ( min-width: $tablet ){

    .hero{


    }
}