.home-hero{

    background: $darkGrey url("/images/home-hero.png") top center no-repeat;
    background-size: cover;

    .button-columns{

        margin-top: 2rem;
    }

    // no longer present on page, but keeping styles just in case
    .donate-paypal{

        .donate-button{

            margin-top: 1rem;
            padding: 1rem 2rem;
            height: auto;
            font-size: 1rem;
        }
    }

    .demo{

        .credentials{

            margin-top: .5rem;
            margin-bottom: 1.25rem;
            color: #efefef;
            font-size: .85rem;
        }

        .demo-button{

            padding: 1.5rem 2rem;
        }
    }

    .publications{

        .publications-button{

            padding: 1.5rem 2rem;
        }
    }

    .container{

        max-width: 450px;
        margin: 0 auto;
    }
}


@media only screen and ( min-width: $tablet ){

    .home-hero{

        margin-top: -20px;

        .title{

            font-size: 2.75rem;
        }
    }
}