.news-hero{

    color: $white;

    background: $darkGrey url("/images/news-bg.png") top center no-repeat;
    background-size: cover;

    .title{

        margin-bottom: 2rem;
    }

    .docs{

        color: $white;
        margin: 3rem 0 2rem 0;

        .doc{

            margin-bottom: 1rem;
        }

        ul{

            list-style: none;
            margin-left: 0;
        }
    }

    .media-content{

        .content {

            color: $white;

            a strong{

                text-decoration: underline;
            }
        }
    }

    .news-item{

        max-width: 420px;
        margin: 0 auto;

        .image{

            margin-bottom: .5rem;
            background: $lightGrey;
        }

        .headline{

            padding-left: 5px;
            padding-right: 5px;
            font-size: .9rem;
        }
    }
}

@media only screen and ( min-width: 620px ){

    .news-hero{

        .news{

            display: flex;
        }

        .news-item{

            max-width: none;
            margin: 0;

            flex: none;
            width: 50%;
        }
    }
}

@media only screen and ( min-width: $tablet ){

    .news-hero{

        .news-item{

            //width: 33.333333333%;
        }
    }
}

@media only screen and ( min-width: $desktop ){

    .news-hero{

        .news-item{

            width: 25%;
        }
    }
}