.news-hero{

    color: $white;

    background: $darkGrey url("/images/news-bg.png") top center no-repeat;
    background-size: cover;

    .title{

        margin-bottom: 2rem;
    }

    .media-content{

        .content {

            color: $white;

            a strong{

                text-decoration: underline;
            }
        }
    }

    .news-item{

        margin: 0 auto;
        padding: 0 5px;
        width: 50%;
        height: auto;

        .image{

            margin-bottom: .5rem;
        }

        .headline{

            padding-left: 5px;
            padding-right: 5px;
            font-size: .9rem;
        }
    }
}

@media only screen and ( min-width: 620px ){

    .news-hero{

        .news{

            display: flex;
        }

        .news-item{

            margin: 0;

            flex: none;
        }
    }
}

@media only screen and ( min-width: $tablet ){

    .news-hero{

        .news-item{

            //width: 33.333333333%;
        }
    }
}

@media only screen and ( min-width: $desktop ){

    .news-hero{

        .news-item{

            width: 25%;
            //width: 25%;
        }
    }
}