files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/100_install-nova-components.sh":
    mode: "000755"
    owner: webapp
    group: webapp
    content: |
        #!/usr/bin/env bash

        mkdir -p /var/app/current/vendor/femr

        ln -s /var/app/current/nova-components/AddressField /var/app/current/vendor/femr/address-field
        ln -s /var/app/current/nova-components/MapField /var/app/current/vendor/femr/map-field
        ln -s /var/app/current/nova-components/TextField /var/app/current/vendor/femr/text-field