.header {

    margin-bottom: 15px;
    width: 100%;
}

.top-nav {

    background-color: #3f3f3f;

    .nav-item {

        color: #efefef;

        &:hover{

            color: #ffffff;
        }

        &.is-active {

            color: $femrRed;
        }

        &.is-tab {

            &.is-active {

                color: #ffffff;
                border-bottom-color: $femrRed;
            }

            &:hover {

              border-bottom-color: $femrRed;
            }
        }
    }

}