.location-container{

    overflow: hidden;
}

.location-modal{

    /*

        This modal has a GoogleMap and needs to be visible when initialized. Bulma
          hides modals, so overriding the position to be off screen

    */
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    left: auto;
    right: 120%;

    .modal-close{

        display: none;
    }

    &.is-active{

        right: 0;
        left: 0;

        .modal-close{

            display: block;
        }
    }

    .modal-card{

        width: 90%;

        .column{

            padding: 0.5rem;
        }

    }
}

@media screen and ( min-width: 769px ){

    .location-modal{

        .modal-card{

            .column-map{

                order: 2;
            }
        }
    }
}