.location-modal{

    .modal-card{

        width: 90%;

        .column{

            padding: 0.5rem;
        }

    }
}

@media screen and ( min-width: 769px ){

    .location-modal{

        .modal-card{

            .column-map{

                order: 2;
            }
        }
    }
}