@import "node_modules/font-awesome/scss/font-awesome";

// Import Bulma's initial variables
@import "node_modules/bulma/sass/utilities/_all";

// Override Bulma variables
// #c30712 - fEMR red
$femrRed: #c30712;
$primary: #232b2d;
$link: #232b2d;

// Import the rest of bulma
@import "node_modules/bulma/bulma";

@import "node_modules/select2/src/scss/core";

//@import "node_modules/morris.js/morris";

@import "form";
@import "content";
@import "dashboard";
@import "schools";

[v-cloak] {

    display: none;
}

table{

    font-size: 0.9rem;
}


@import "components/header";
@import "components/section-menu";
@import "components/breadcrumbs";
@import "components/location-modal";