body {

  height: 100%;
}

.admin-panel {

  padding-bottom: 0;

  .menu-label{

    color: #ffffff;
    border-bottom: 1px solid #6f6f6f;
    margin-bottom: 0.5em;
  }

  .menu-list{

    a{

      border-radius: 0;
      color: #6f6f6f;
      display: block;
      padding: 0.4em 0.3em;
      font-size: 0.9em;

      &:hover{

        color: #9f9f9f;
        background-color: transparent;
      }

      &.is-active{

        color: #ffffff;
        background-color: transparent;
      }
    }
  }

  .aside {
    background-color: #232B2D;
    margin-right: -10px;
  }
  .aside .main {
    padding: 10px;
    color: #6F7B7E;
  }

  .admin-content {
    display: block;
    background-color: #fff;
    padding: 40px 20px;
  }

}
