.footer{

    background: $darkGrey;
    color: $white;
    padding: 1rem 1.5rem;

    p{
        padding: 0.5rem 0.75rem;

        &.copy{

            font-size: 0.85em;
        }
    }

    a{

        color: $darkWhite;
        text-decoration: underline;

        &:hover{

            color: $white;
        }
    }

    .columns{
        display: flex;
        align-items: center;

        .copyright{
            flex: 1;
        }
    }

    .column{
        flex: initial;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        padding: .5rem;
    }

    .logo{

        img {

            display: block;
            width: 200px;
        }
    }
}

@media screen and ( min-width: $tablet ){

    .footer{

        .column{

            align-items: flex-start;
            text-align: left;
        }

        .logo{

            align-self: flex-end;
        }
    }
}