$control-radius: 0;

.button{

    border: none;
    border-radius: 0;
}

.logout-button{

    background-color: transparent;
    border: none;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;

    &:hover{

        text-decoration: underline;
    }
}

.femr-button{

    background-color: $femrRed;
    color: $darkWhite;
    font-weight: bold;
    text-transform: uppercase;

    &:hover,
    &:focus,
    &:active{

        color: $white;
        background-color: darken( $femrRed, 4 );
    }
}