$femrRed: #a1060f;

$white: #ffffff;
$black: #000000;

$darkWhite: #efefef;
$darkGrey: #363636;
$lightGrey: #7f7f7f;

$primary: $femrRed;
$link: $primary;

$input-focus-border-color: $lightGrey;

$card-background-color: $darkWhite;