.field{

    .label{

        font-size: 0.9rem;
    }

    .icon{


        &.is-success {

            .fa {

                color: $success;
            }
        }

        &.is-danger {

            .fa {

                color: $danger;
            }
        }
    }
}

.input, .textarea{

    box-shadow: none;
    border-color: #cfcfcf;
}

.select select{

    border-color: #cfcfcf;
}

.select:not(.is-multiple){

    &.is-success,
    &.is-danger{

        &::after{

            display: none;
        }
    }
}

@import "node_modules/vue-multiselect/dist/vue-multiselect.min";

.multiselect__tags{

    @extend select;

    .multiselect__tag{

        margin-bottom: 0;
        line-height: 1.5;
    }
}

.multiselect__select{

    display: none;
}

.multiselect__input,
.multiselect__single{


    margin: 0;
    height: 100%;
}