body{

    // 75px for main nav + 40 top bar
    //margin-top: 115px;
}

.main-nav {

    position: fixed;
    top: 40px; // top bar
    left: 0;
    right: 0;
    z-index: 99999;
    box-shadow: 0 2px 3px rgba( 0, 0, 0, 0.4 );

    height: 75px;

    & > .container{

        min-height: 75px;
    }

    .nav-item a,
    a.nav-item{

        color: $lightGrey;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 0.9rem;
    }

    .dropdown-content{

        .nav-item a,
        a.nav-item{

            text-transform: none;
        }

        .dropdown-item{

            .icon{

                margin-left: 8px;
            }
        }
    }

    .nav-item{

        text-align: left;

        br {

            display: none;
        }

        .donate-paypal{

            margin-left: auto;
            margin-right: auto;
        }

        &.nav-button{

            padding: 0;

            .button{

                color: $lightGrey;
                font-weight: bold;
                text-transform: uppercase;
                font-size: 0.9rem;

                @media only screen and ( max-width: 768px ) {

                    padding: 0.75rem;
                    height: auto;
                    width: 100%;
                    justify-content: space-between;
                }
            }
        }

        @media only screen and ( max-width: 768px ) {

            .dropdown,
            .dropdown-trigger {
                width: 100%;
            }

            .dropdown {

                position: static;
                flex-wrap: wrap;

                .dropdown-item{

                    padding: 0.75rem 3rem;
                    display: flex;
                    justify-content: space-between;
                    border-top: 1px solid rgba(219, 219, 219, 0.5);
                }
            }

            .dropdown-menu {

                display: block;
                position: static;
                padding: 0;
                width: 100%;
                left: auto;
                top: auto;
                z-index: initial;
            }

            .dropdown-content {

                box-shadow: none;
                padding: 0;
                margin: 0 -0.75rem;
            }

        }
    }

    .logo{

        flex-grow: 1;

        img{

            height: 3.75rem;
            max-height: 100%;
        }
    }
}

@media only screen and ( max-width: $tablet - 1 ) {

    .nav-menu.nav-right {

        .logged-in-status {

            border-top: 2px solid #1f1f1f;
            font-size: 1rem;
            font-weight: bold;
            background-color: #efefef;
        }

        .user-item,
        .user-item .logout-button {

            text-transform: none;
            font-weight: normal;
            font-size: 1rem;
            color: #1f1f1f;
            background-color: #efefef;
        }

        .user-item{

            padding-left: 2rem;
        }

        .user-item .logout-button {

            padding: 0;
        }
    }
}

@media only screen and ( min-width: $tablet ){

    .main-nav {

        position: fixed;
        top: 40px; // top bar
        left: 0;
        right: 0;
        z-index: 99999;
        box-shadow: 0 2px 3px rgba( 0, 0, 0, 0.4 );
        height: 90px;

        @media only screen and ( max-width: 899px ) {


            height: 130px;

            & > .container {
                min-height: 90px;
                flex-wrap: wrap;

                .nav-left,
                .nav-right {
                    width: 100%;
                    justify-content: center;
                }
            }

            .logo {

                img {
                    height: 3rem;
                    max-height: none;
                    display: inline-block;
                }
            }
        }

        .has-nav-toggle{

            display: none;
        }

        .nav-item a,
        a.nav-item{

            font-size: .8rem;
            padding: 0.5rem 0.75rem;
        }

        .nav-item.nav-button{

            .button {

                font-size: .8rem;
            }
        }

        .nav-item{

            text-align: center;

            br{

                display: block;
            }

            .donate-paypal{

                margin-right: 0;
            }
        }

        .donate-paypal .donate-button{

            font-size: .8rem;
            height: 2.25rem;
            padding-left: .75rem;
            padding-right: .75rem;
        }

        .logo{

            flex-grow: 0;
            display: flex;
            justify-content: flex-start;


        }
    }
}

@media only screen and ( min-width: 900px ){

    .main-nav {

        .logo{

            img{

                height: 3rem;
            }
        }

        .nav-item a,
        a.nav-item{

            font-size: .85rem;
            padding: 0.5rem 0.75rem;
        }

        .nav-item.nav-button{

            .button {

                font-size: .85rem;
            }
        }

        .donate-paypal .donate-button{

            font-size: .8rem;
            height: 2.5rem;
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }
}

@media only screen and ( min-width: $desktop ){

    .main-nav {

        .logo{

            img{

                height: 3rem;
            }
        }

        .nav-item a,
        a.nav-item{

            font-size: .9rem;
        }

        .nav-item.nav-button{

            .button {

                font-size: .9rem;
            }
        }

        .donate-paypal .donate-button{

            font-size: .9rem;
        }
    }
}

@media only screen and ( min-width: $widescreen ){

    .main-nav {

        .logo {

            img {
                height: 3.75rem;
            }
        }

        .nav-item a,
        a.nav-item{

            padding: 0.5rem 1rem;
        }
    }
}