.main-nav {

    height: 4.5rem;

    & > .container{

        min-height: 4.5rem;
    }

    .nav-item a,
    a.nav-item{

        color: $lightGrey;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 0.9rem;
    }

    .nav-item{

        .donate-paypal{

            margin-left: auto;
            margin-right: auto;
        }
    }

    .logo{

        flex-grow: 1;

        img{

            height: 3.75rem;
            max-height: 100%;
        }
    }
}

@media only screen and ( min-width: $tablet ){

    .main-nav {

        height: 5.5rem;

        & > .container{

            min-height: 5.5rem;
        }

        .nav-left{

            // stop left side from taking up 50% of width
            flex: 0 1 auto;
        }

        .nav-item a,
        a.nav-item{

            font-size: .8rem;
            padding: 0.5rem;
        }

        .nav-item{

            .donate-paypal{

                margin-right: 0;
            }
        }

        .logo{

            flex-grow: 0;
            display: flex;
            justify-content: flex-start;

            img{

                height: 4.25rem;
            }
        }
    }
}

@media only screen and ( min-width: 900px ){

    .main-nav {

        .nav-item a,
        a.nav-item{

            font-size: .9rem;
            padding: 0.5rem 0.75rem;
        }

        .nav-item{

            .donate-paypal{

                margin-left: 25px;
            }
        }
    }
}