#top-link{

    display: block;

    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 1.3rem;
    color: $white;
    background-color: rgba( 0, 0, 0, 0.3 );
    padding: 0.25rem;

    z-index: 10000;
}

.top-bar{

    background-color: $femrRed;
    color: $white;

    height: 40px;

    & > .container{

        min-height: 40px;
    }

    a{

        color: $white;

        .icon{

            color: $darkWhite;
        }

        &:hover{

            color: $white;
            text-decoration: underline;
        }
    }

    .nav-right{

        a:hover{

            text-decoration: none;
        }
    }

}

@media only screen and ( min-width: $tablet ){

    .top-bar{

        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 99999;
    }
}