.outreach-program{

    .visited-locations{

        .map{

            background-color: #cfcfcf;
            width: 400px;
            height: 250px;

            margin-left: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            color: #333333;
        }
    }
}